@charset "utf-8";
/* CSS Document */


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.4;
}


#navbar {
	background-color: #333;
	position: fixed;
	top: -100px;
	width: 100%;
	transition: top 0.3;
}

#navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

hero {
	text-align: center;
}


h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;	
	line-height: 1.25;
}

h2 {
	font-size: 2rem;
	letter-spacing: 1px;
	margin: 0 0 1.5rem;
}

h3 {
	font-size: 1rem;
	line-height: 1.333;
	text-decoration: underline;
}


#contact {
	background-color: darkslategray;
	color: white;
	padding: 20px;
	
}

.hero {
	background-image: url(../images/header_image3.png);
}

.heroHeadline {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,0.63); 
}
.heroDescription {
	max-width: 80%;
	padding-top: 5px;
	padding-left: 25px;
	padding-bottom: 5px;
	background-color: rgba(255,255,255,0.63); 
}

.heroLink {
	background-color: cadetblue;
	border: none;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	flex-wrap: wrap;
	max-width: 100%;
	padding: 15px 32px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

.heroLink:hover {
	background-color: #9DD1CF;
}

.heroLink:active {
	background-color: #9DD1CF;
	box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
	transform: translateY(4px);
}

.googleTranslateText{
	margin-left: 10px;
}

#google_translate_element {
	margin-left: 10px;
	margin-bottom: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	box-sizing: border-box;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	box-sizing: border-box;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	padding-bottom: 8px;
}

.container {
	position: relative;
	max-width: 100%;
}

.overlay {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #9DD1CF;
}

.container:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
} 

.responsive {
	cursor: pointer;
	max-width: 100%;
	height: auto;
}

.blogBackground {
	background-color:#ebc7d2;
}

.twitter-timeline-rendered {
	margin:auto;
}

.twt_wrap {
	text-align: center;
}

.twt_wrap > iframe {
	margin: auto;
}

a {
	color: #0C4B38;
}

#shop-links {
	padding-bottom: 16px;
}

#blogHeader {
	text-align: center;
	background-color: #9DD1CF;
	border-color: #5C5C5C;
	border-style: dashed;
	padding-top: 15px;
	padding-bottom: 10px; 
	
}

.shopLinks {
	list-style-type: none;
	text-align: center;
	text-decoration: underline;
	font-size: 1rem;
	line-height: 2.5;
	margin-bottom: 16px;
}

.footerList {
	text-align: center;
	color: darkcyan;
	font-size: 14px;
}

.footerListItem {
	display: inline-block;
}



@media screen and (max-width: 800px) {
	.column{
		flex: 50%;
		max-width: 50%
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
		
	}
}


.social {
	text-align: center;
	text-decoration: none !important;
}
	
a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
}

/* Styling all font awesome icons */
.fa{
	padding: 20px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-decorations: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa:active {
	background-color: #9DD1CF;
	box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
	transform: translateY(4px);
	
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-flickr {
	background:#f40083;
	color: white;
}



.white {color: white}
.center {text-align: center}.shopSection {
}
